.drawerContent {
    display: flex;
}

.drawerTitle {
    flex: 1;
    text-align: center;
    font-size: 20px;
    margin: 0;
    color: #f4f4f4;
}

.drawerSearchWrapper {
    width: 250px;
}

.drawerEmptyContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 40px;
    width: 100%;
}

.photoList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
