.footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 400;
}

.container {
    position: relative;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;
}
